@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 40px;
}

.logo{
  display: flex;
  align-items: center;
}

.navbar-links{
  display: flex;

}
.navbar-links p{
  margin-right: 40px
}

.hero-holder{
  display: flex;
}

.hero-holder img{
  width: 580px;
}
.hero-body h1{
  font-size: 50px;
  font-weight: bold;
}
.hero-body{
  align-items: center;
  display: flex;
  padding-left: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn button{
  padding: 10px 20px;
  margin-right: 15px;
  border-radius: 10px;
  border: none;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

.signup{
background: rgb(2, 89, 139);
color:white ;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}

.images {
  display: flex;
  gap: 10px;
}

.product-image {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sales-info {
  background: white;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.sales-title {
  font-size: 20px;
  font-weight: bold;
}

.sales-description {
  color: gray;
}

.profile-icons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.profile-icon {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
}

.right-section {
  text-align: center;
  margin-top: 20px;
}

.highlight-text {
  color: orange;
  font-weight: bold;
}

.about-title {
  font-size: 24px;
  font-weight: bold;
}

.about-description {
  color: gray;
  margin-top: 10px;
}

.explore-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.explore-button:hover {
  background-color: darkorange;
}

.link{
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formContainer{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.formGroup{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.formGroup input{
  border-radius: 8px;
  padding: 8px 10px;
  border: 1px solid black;
  margin-top: 4px;
}

.formContainer .btn{
  padding: 10px 15px;
  border-radius: 12px;
  background-color: burlywood;
  color: black;
  transition: all ease-in-out 1s;
  cursor: pointer;
  margin-top: 5px;
}

.formContainer .btn:hover{
  background-color: brown;
  color: white;
}
.formClass{
  border: 1px solid black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.userCard{
  background-color: #f5f5f5;
  display: flex;
  gap: 1px;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px;
  width: 260px;
  border: 1px solid black;
}

.userInfo{
  display: flex;
  flex-direction: column;
}

.userInfo p:nth-child(1){
  font-weight: bold;
}

textarea{
  border: 1px solid black;
}